.idea
.DS_Store
.vscode
package-lock.json
node_modules/*
credentials/*
tmp/*
lib/*
logs/*
dump.rdb
*.zip
*.log
ng-app.js
Makefile
.module-cache
webpanel/node_modules/*
webpanel/public/*
.jshintrc
*.*~
*.swp
_*
*.swo
*.pdf